{% extends 'teacherbase.html' %}

{% block content %}
<div style="margin-top:50px; margin-left:200px">
  <h1 class="mb-3 text-center mb-5">시험 등록</h1>
<!--    <form method="post" enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->

<!--        <div class="row mb-2">-->
<!--            <div class="col-3 mt-2">-->
<!--                <span class="ml-4">문제 수 입력 : </span>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--                <input type="text" class="form-control" placeholder="문제 갯수를 입력 해 주세요.(최대 20문제)" name="number"  >-->
<!--            </div>-->
<!--                <div class="col-3">-->
<!--                    <button type="submit" class="btn btn-primary" name="btn" value="1"> 생 성 </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        <div class="row mb-5">-->
<!--            <div class="col-2"></div>-->
<!--            <div class="col-9">-->
<!--                <span class="text-center">* 등록할 문제의 수를 <span class="text-danger"> 먼저 입력 후 생성 버튼을</span> 눌러 주세요.</span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
  <form method="post" action="." enctype="multipart/form-data">
  {% csrf_token %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th colspan="2" class="text-center text-primary" style="font-size : 15px;">강의명 : {{ lecture_info.l_name }}</th>
      </tr>
      </thead>

      <tr>
        <th scope="col" >시험명</th>
        <th scope="col" class="text-center"><input type="text" placeholder="시험명을 입력해 주세요" class="form-control" style="width:400px;" name="te_name" value="{{ test.te_name }}"></th>
      </tr>

      {% if test_detail_list %}
      {% for test_detail in test_detail_list %}
      <tr style="background-color : pink; border-radius : 12px;">
        <th scope="col" class="text-center" colspan="3">[ {{ test_detail.td_question_no }}번 문제 ]</th>
      </tr>
      <tr>
          <th scope="col" style="vertical-align:middle" rowspan="6">[ {{ test_detail.td_question_no }}번 문제 ]<input name="question_no" value="{{ test_detail.td_question_no }}" style="display : none"></th>
          <th scope="col">Q.문제<textarea class="form-control" name="question" style="resize:none" rows="3">{{ test_detail.td_question }}</textarea></th>
      </tr>
      <tr>
          <th>객관식 1번 <input type="text" style="width:400px;" name="choice_1" value="{{ test_detail.td_choice_1 }}"></th>

      </tr>
      <tr>
          <th>객관식 2번 <input type="text" style="width:400px;" name="choice_2" value="{{ test_detail.td_choice_2 }}"></th>
      </tr>
      <tr>
          <th>객관식 3번 <input type="text" style="width:400px;" name="choice_3" value="{{ test_detail.td_choice_3 }}"></th>
      </tr>
      <tr>
          <th>객관식 4번 <input type="text" style="width:400px;" name="choice_4" value="{{ test_detail.td_choice_4 }}"></th>
      </tr>
      <tr>
          <th style="horizontal-align:middle" class="text-center">정답 입력 : <input type="text" class="ml-5" style="width:50px;" name="answer" value="{{ test_detail.td_answer }}"></th>
      </tr>
    {% endfor %}
    {% endif %}
  </table>

      <div class="row">
          <div class="col"></div>
          <div class="col">
    <button type="submit" class="btn btn-primary ml-5" name="btn" value="2" onclick="alert('수정이 완료 되었습니다.')">수정 완료</button>
          </div>
          <div class="col"></div>
          </div>
    <!-- 문제 수에 대한 정보를 넘기기 위한 input 태그 (숨겨 놓는다)-->
<!--    <input name="number" value="{{ amount }}" style="display : none">-->
  </form>
</div>
<div style="height : 100px;"></div>

{% endblock %}